In [1]:
#import dependencies
import pandas as pd

In [2]:
#read in raw GNI data and cleaned carbon dataset
raw_GNI = pd.read_excel('../Raw Data/Excel/GNI_by_country_worldbank.xls')
carbon_dataset = pd.read_excel('../Cleaned Datasets/Carbon_justcountries.xlsx')

In [ ]:
#raw_GNI

In [3]:
df = raw_GNI.drop([0,1]).reset_index(drop=True) #drop first two rows and reset index
df

,Data Source,World Development Indicators,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65
0,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.000000,1963.000000,1964.000000,1965.000000,...,2012.00000,2013.000000,2014.000000,2015.000000,2016.000000,2017.000000,2018.000000,2019.000000,2020.000000,2021.000000
1,Aruba,ABW,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,24440.00000,25500.000000,25790.000000,26180.000000,26650.000000,27720.000000,29030.000000,30000.000000,24590.000000,29390.000000
2,Africa Eastern and Southern,AFE,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1678.43941,1710.582051,1690.913141,1572.698600,1463.693601,1451.180357,1465.272340,1506.540760,1396.494155,1464.793991
3,Afghanistan,AFG,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,650.00000,680.000000,650.000000,610.000000,570.000000,540.000000,520.000000,530.000000,500.000000,390.000000
4,Africa Western and Central,AFW,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,NaN,NaN,112.632149,121.002027,126.993255,131.869404,...,1763.84695,1923.711925,2096.815123,2004.978658,1771.335338,1587.397582,1604.628244,1663.335667,1644.359873,1707.394011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262,Kosovo,XKX,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3540.00000,3800.000000,3910.000000,3930.000000,3930.000000,3950.000000,4300.000000,4640.000000,4440.000000,5130.000000
263,"Yemen, Rep.",YEM,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1180.00000,1340.000000,1360.000000,1110.000000,1070.000000,1000.000000,840.000000,NaN,NaN,NaN
264,South Africa,ZAF,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,NaN,NaN,550.000000,580.000000,620.000000,660.000000,...,8320.00000,8050.000000,7340.000000,6550.000000,5960.000000,5950.000000,6390.000000,6730.000000,6090.000000,6530.000000
265,Zambia,ZMB,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,NaN,NaN,190.000000,190.000000,210.000000,260.000000,...,1660.00000,1720.000000,1760.000000,1540.000000,1340.000000,1270.000000,1400.000000,1390.000000,1130.000000,1030.000000
266,Zimbabwe,ZWE,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,NaN,NaN,210.000000,210.000000,180.000000,230.000000,...,1120.00000,1200.000000,1210.000000,1220.000000,1200.000000,1170.000000,1550.000000,1450.000000,1460.000000,1530.000000

In [4]:
df.columns = df.iloc[0]#set first row to header
df = df[1:]#reset df to not include header row as row
df

,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,...,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0
1,Aruba,ABW,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,24440.00000,25500.000000,25790.000000,26180.000000,26650.000000,27720.000000,29030.000000,30000.000000,24590.000000,29390.000000
2,Africa Eastern and Southern,AFE,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1678.43941,1710.582051,1690.913141,1572.698600,1463.693601,1451.180357,1465.272340,1506.540760,1396.494155,1464.793991
3,Afghanistan,AFG,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,650.00000,680.000000,650.000000,610.000000,570.000000,540.000000,520.000000,530.000000,500.000000,390.000000
4,Africa Western and Central,AFW,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,NaN,NaN,112.632149,121.002027,126.993255,131.869404,...,1763.84695,1923.711925,2096.815123,2004.978658,1771.335338,1587.397582,1604.628244,1663.335667,1644.359873,1707.394011
5,Angola,AGO,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,4060.00000,4650.000000,4800.000000,3880.000000,2450.000000,1980.000000,1870.000000,2040.000000,1740.000000,1710.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262,Kosovo,XKX,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3540.00000,3800.000000,3910.000000,3930.000000,3930.000000,3950.000000,4300.000000,4640.000000,4440.000000,5130.000000
263,"Yemen, Rep.",YEM,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1180.00000,1340.000000,1360.000000,1110.000000,1070.000000,1000.000000,840.000000,NaN,NaN,NaN
264,South Africa,ZAF,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,NaN,NaN,550.000000,580.000000,620.000000,660.000000,...,8320.00000,8050.000000,7340.000000,6550.000000,5960.000000,5950.000000,6390.000000,6730.000000,6090.000000,6530.000000
265,Zambia,ZMB,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,NaN,NaN,190.000000,190.000000,210.000000,260.000000,...,1660.00000,1720.000000,1760.000000,1540.000000,1340.000000,1270.000000,1400.000000,1390.000000,1130.000000,1030.000000
266,Zimbabwe,ZWE,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,NaN,NaN,210.000000,210.000000,180.000000,230.000000,...,1120.00000,1200.000000,1210.000000,1220.000000,1200.000000,1170.000000,1550.000000,1450.000000,1460.000000,1530.000000

In [5]:
list(df.columns.values)

['Country Name',
 'Country Code',
 'Indicator Name',
 'Indicator Code',
 1960.0,
 1961.0,
 1962.0,
 1963.0,
 1964.0,
 1965.0,
 1966.0,
 1967.0,
 1968.0,
 1969.0,
 1970.0,
 1971.0,
 1972.0,
 1973.0,
 1974.0,
 1975.0,
 1976.0,
 1977.0,
 1978.0,
 1979.0,
 1980.0,
 1981.0,
 1982.0,
 1983.0,
 1984.0,
 1985.0,
 1986.0,
 1987.0,
 1988.0,
 1989.0,
 1990.0,
 1991.0,
 1992.0,
 1993.0,
 1994.0,
 1995.0,
 1996.0,
 1997.0,
 1998.0,
 1999.0,
 2000.0,
 2001.0,
 2002.0,
 2003.0,
 2004.0,
 2005.0,
 2006.0,
 2007.0,
 2008.0,
 2009.0,
 2010.0,
 2011.0,
 2012.0,
 2013.0,
 2014.0,
 2015.0,
 2016.0,
 2017.0,
 2018.0,
 2019.0,
 2020.0,
 2021.0]

In [11]:
values = df['Country Code']
values

1      ABW
2      AFE
3      AFG
4      AFW
5      AGO
      ...
262    XKX
263    YEM
264    ZAF
265    ZMB
266    ZWE
Name: Country Code, Length: 266, dtype: object

In [7]:
# GNI_data = pd.DataFrame(df, columns=['Country Name','Country Code','2021.0'])
GNI_data = pd.DataFrame(df, columns=['2021.0'])

In [8]:
GNI_data

     2021.0
1       NaN
2       NaN
3       NaN
4       NaN
5       NaN
..      ...
262     NaN
263     NaN
264     NaN
265     NaN
266     NaN

[266 rows x 1 columns]

In [ ]:
print(df['2021.0'])