In [5]:
import pandas as pd

In [6]:
df = pd.read_excel('/Users/vickylynnmauldin/Desktop/personal-repo/global-carbon-and-methane-emissions/Data/Excel/Carbon Emissions.xls', sheet_name=1)

In [7]:
df

,Country Code,Region,IncomeGroup,SpecialNotes,TableName
0,ABW,Latin America & Caribbean,High income,NaN,Aruba
1,AFE,NaN,NaN,"26 countries, stretching from the Red Sea in t...",Africa Eastern and Southern
2,AFG,South Asia,Low income,The reporting period for national accounts dat...,Afghanistan
3,AFW,NaN,NaN,"22 countries, stretching from the westernmost ...",Africa Western and Central
4,AGO,Sub-Saharan Africa,Lower middle income,The World Bank systematically assesses the app...,Angola
...,...,...,...,...,...
260,XKX,Europe & Central Asia,Upper middle income,NaN,Kosovo
261,YEM,Middle East & North Africa,Low income,The World Bank systematically assesses the app...,"Yemen, Rep."
262,ZAF,Sub-Saharan Africa,Upper middle income,Fiscal year end: March 31; reporting period fo...,South Africa
263,ZMB,Sub-Saharan Africa,Low income,National accounts data were rebased to reflect...,Zambia
264,ZWE,Sub-Saharan Africa,Lower middle income,National Accounts data are reported in Zimbabw...,Zimbabwe

In [8]:
df_2 = pd.read_excel('/Users/vickylynnmauldin/Desktop/personal-repo/global-carbon-and-methane-emissions/Data/Excel/Carbon Emissions.xls', sheet_name=0, header = 3)

In [9]:
df_2

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,ABW,CO2 emissions (kt),EN.ATM.CO2E.KT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,CO2 emissions (kt),EN.ATM.CO2E.KT,NaN,NaN,NaN,NaN,NaN,NaN,...,543439.999305,565430.012964,587699.992426,574029.994987,578510.015696,587509.992346,590040.005282,603030.016154,NaN,NaN
2,Afghanistan,AFG,CO2 emissions (kt),EN.ATM.CO2E.KT,NaN,NaN,NaN,NaN,NaN,NaN,...,8079.999924,5989.999771,4880.000114,5949.999809,5300.000191,4780.000210,6070.000172,6079.999924,NaN,NaN
3,Africa Western and Central,AFW,CO2 emissions (kt),EN.ATM.CO2E.KT,NaN,NaN,NaN,NaN,NaN,NaN,...,177939.995751,193299.997561,201680.001885,198410.002500,206030.001298,204740.000457,211719.999298,220740.000024,NaN,NaN
4,Angola,AGO,CO2 emissions (kt),EN.ATM.CO2E.KT,NaN,NaN,NaN,NaN,NaN,NaN,...,23870.000839,26959.999084,29629.999161,31649.999619,29760.000229,24250.000000,23959.999084,25209.999084,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,CO2 emissions (kt),EN.ATM.CO2E.KT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262,"Yemen, Rep.",YEM,CO2 emissions (kt),EN.ATM.CO2E.KT,NaN,NaN,NaN,NaN,NaN,NaN,...,21010.000229,27829.999924,27430.000305,13550.000191,10850.000381,10010.000229,9720.000267,11100.000381,NaN,NaN
263,South Africa,ZAF,CO2 emissions (kt),EN.ATM.CO2E.KT,NaN,NaN,NaN,NaN,NaN,NaN,...,426779.998779,436920.013428,447929.992676,424809.997559,425140.014648,435649.993896,434350.006104,439640.014648,NaN,NaN
264,Zambia,ZMB,CO2 emissions (kt),EN.ATM.CO2E.KT,NaN,NaN,NaN,NaN,NaN,NaN,...,4030.000210,4239.999771,4690.000057,4960.000038,5320.000172,6809.999943,7730.000019,6800.000191,NaN,NaN
265,Zimbabwe,ZWE,CO2 emissions (kt),EN.ATM.CO2E.KT,NaN,NaN,NaN,NaN,NaN,NaN,...,12010.000229,12279.999733,12079.999924,12430.000305,11020.000458,10340.000153,12380.000114,11760.000229,NaN,NaN

In [10]:
#merge df to get incomegroup
merged_df = pd.merge(df, df_2, on='Country Code')
merged_df

,Country Code,Region,IncomeGroup,SpecialNotes,TableName,Country Name,Indicator Name,Indicator Code,1960,1961,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,ABW,Latin America & Caribbean,High income,NaN,Aruba,Aruba,CO2 emissions (kt),EN.ATM.CO2E.KT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AFE,NaN,NaN,"26 countries, stretching from the Red Sea in t...",Africa Eastern and Southern,Africa Eastern and Southern,CO2 emissions (kt),EN.ATM.CO2E.KT,NaN,NaN,...,543439.999305,565430.012964,587699.992426,574029.994987,578510.015696,587509.992346,590040.005282,603030.016154,NaN,NaN
2,AFG,South Asia,Low income,The reporting period for national accounts dat...,Afghanistan,Afghanistan,CO2 emissions (kt),EN.ATM.CO2E.KT,NaN,NaN,...,8079.999924,5989.999771,4880.000114,5949.999809,5300.000191,4780.000210,6070.000172,6079.999924,NaN,NaN
3,AFW,NaN,NaN,"22 countries, stretching from the westernmost ...",Africa Western and Central,Africa Western and Central,CO2 emissions (kt),EN.ATM.CO2E.KT,NaN,NaN,...,177939.995751,193299.997561,201680.001885,198410.002500,206030.001298,204740.000457,211719.999298,220740.000024,NaN,NaN
4,AGO,Sub-Saharan Africa,Lower middle income,The World Bank systematically assesses the app...,Angola,Angola,CO2 emissions (kt),EN.ATM.CO2E.KT,NaN,NaN,...,23870.000839,26959.999084,29629.999161,31649.999619,29760.000229,24250.000000,23959.999084,25209.999084,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260,XKX,Europe & Central Asia,Upper middle income,NaN,Kosovo,Kosovo,CO2 emissions (kt),EN.ATM.CO2E.KT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
261,YEM,Middle East & North Africa,Low income,The World Bank systematically assesses the app...,"Yemen, Rep.","Yemen, Rep.",CO2 emissions (kt),EN.ATM.CO2E.KT,NaN,NaN,...,21010.000229,27829.999924,27430.000305,13550.000191,10850.000381,10010.000229,9720.000267,11100.000381,NaN,NaN
262,ZAF,Sub-Saharan Africa,Upper middle income,Fiscal year end: March 31; reporting period fo...,South Africa,South Africa,CO2 emissions (kt),EN.ATM.CO2E.KT,NaN,NaN,...,426779.998779,436920.013428,447929.992676,424809.997559,425140.014648,435649.993896,434350.006104,439640.014648,NaN,NaN
263,ZMB,Sub-Saharan Africa,Low income,National accounts data were rebased to reflect...,Zambia,Zambia,CO2 emissions (kt),EN.ATM.CO2E.KT,NaN,NaN,...,4030.000210,4239.999771,4690.000057,4960.000038,5320.000172,6809.999943,7730.000019,6800.000191,NaN,NaN
264,ZWE,Sub-Saharan Africa,Lower middle income,National Accounts data are reported in Zimbabw...,Zimbabwe,Zimbabwe,CO2 emissions (kt),EN.ATM.CO2E.KT,NaN,NaN,...,12010.000229,12279.999733,12079.999924,12430.000305,11020.000458,10340.000153,12380.000114,11760.000229,NaN,NaN

In [11]:
#remove unneeded columns 
clean_df = merged_df.drop(['SpecialNotes','TableName','Indicator Name', 'Indicator Code','1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '2020', '2021'], axis=1)
clean_df

,Country Code,Region,IncomeGroup,Country Name,1990,1991,1992,1993,1994,1995,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,ABW,Latin America & Caribbean,High income,Aruba,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AFE,NaN,NaN,Africa Eastern and Southern,304354.882669,298735.435602,295090.000000,303600.000000,312160.000000,327430.000000,...,529639.997445,521760.009862,543439.999305,565430.012964,587699.992426,574029.994987,578510.015696,587509.992346,590040.005282,603030.016154
2,AFG,South Asia,Low income,Afghanistan,2380.000000,2230.000000,1390.000000,1340.000000,1290.000000,1240.000000,...,7110.000134,8930.000305,8079.999924,5989.999771,4880.000114,5949.999809,5300.000191,4780.000210,6070.000172,6079.999924
3,AFW,NaN,NaN,Africa Western and Central,97925.796888,111479.470508,122740.533166,116094.991257,107217.436031,117296.844581,...,165489.997715,171780.000016,177939.995751,193299.997561,201680.001885,198410.002500,206030.001298,204740.000457,211719.999298,220740.000024
4,AGO,Sub-Saharan Africa,Lower middle income,Angola,6560.000000,6670.000000,6880.000000,9270.000000,11300.000000,12720.000000,...,22799.999237,23870.000839,23870.000839,26959.999084,29629.999161,31649.999619,29760.000229,24250.000000,23959.999084,25209.999084
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260,XKX,Europe & Central Asia,Upper middle income,Kosovo,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
261,YEM,Middle East & North Africa,Low income,"Yemen, Rep.",6640.000000,8500.000000,9130.000000,8550.000000,9340.000000,10530.000000,...,25430.000305,22950.000763,21010.000229,27829.999924,27430.000305,13550.000191,10850.000381,10010.000229,9720.000267,11100.000381
262,ZAF,Sub-Saharan Africa,Upper middle income,South Africa,247660.000000,242330.000000,238820.000000,246490.000000,252140.000000,264310.000000,...,425309.997559,409260.009766,426779.998779,436920.013428,447929.992676,424809.997559,425140.014648,435649.993896,434350.006104,439640.014648
263,ZMB,Sub-Saharan Africa,Low income,Zambia,2740.000000,2880.000000,2850.000000,2510.000000,2140.000000,2130.000000,...,2660.000086,3049.999952,4030.000210,4239.999771,4690.000057,4960.000038,5320.000172,6809.999943,7730.000019,6800.000191
264,ZWE,Sub-Saharan Africa,Lower middle income,Zimbabwe,16540.000000,18300.000000,18470.000000,17080.000000,15960.000000,15480.000000,...,9600.000381,11409.999847,12010.000229,12279.999733,12079.999924,12430.000305,11020.000458,10340.000153,12380.000114,11760.000229

In [12]:
#get index of NaN rows
nan_values = clean_df[clean_df['1990'].isna()]
nan_values

,Country Code,Region,IncomeGroup,Country Name,1990,1991,1992,1993,1994,1995,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,ABW,Latin America & Caribbean,High income,Aruba,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,ASM,East Asia & Pacific,Upper middle income,American Samoa,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,BMU,North America,High income,Bermuda,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,CHI,Europe & Central Asia,High income,Channel Islands,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,CUW,Latin America & Caribbean,High income,Curacao,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,CYM,Latin America & Caribbean,High income,Cayman Islands,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,ERI,Sub-Saharan Africa,Low income,Eritrea,NaN,NaN,440.0,630.0,730.0,800.0,...,500.000000,569.999993,620.000005,639.999986,649.999976,649.999976,660.000026,720.000029,850.000024,879.999995
78,FRO,Europe & Central Asia,High income,Faroe Islands,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,FSM,East Asia & Pacific,Lower middle income,"Micronesia, Fed. Sts.",NaN,NaN,110.0,110.0,110.0,120.0,...,109.999999,119.999997,129.999995,140.000001,140.000001,150.000006,170.000002,180.000007,170.000002,180.000007
84,GIB,Europe & Central Asia,High income,Gibraltar,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91,GRL,Europe & Central Asia,High income,Greenland,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
93,GUM,East Asia & Pacific,High income,Guam,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,HKG,East Asia & Pacific,High income,"Hong Kong SAR, China",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108,IMN,Europe & Central Asia,High income,Isle of Man,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
145,MAC,East Asia & Pacific,High income,"Macao SAR, China",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
146,MAF,Latin America & Caribbean,High income,St. Martin (French part),NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
148,MCO,Europe & Central Asia,High income,Monaco,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
154,MHL,East Asia & Pacific,Upper middle income,Marshall Islands,NaN,NaN,80.0,90.0,90.0,90.0,...,140.000001,140.000001,140.000001,140.000001,150.000006,150.000006,180.000007,180.000007,180.000007,180.000007
163,MNP,East Asia & Pacific,High income,Northern Mariana Islands,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
170,NAM,Sub-Saharan Africa,Upper middle income,Namibia,NaN,1120.0,1220.0,1410.0,1640.0,1770.0,...,3130.000114,3329.999924,3529.999971,3789.999962,3950.000048,4199.999809,4130.000114,4269.999981,4230.000019,4219.999790
171,NCL,East Asia & Pacific,High income,New Caledonia,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
187,PLW,East Asia & Pacific,Upper middle income,Palau,NaN,NaN,200.0,200.0,200.0,200.0,...,209.999993,209.999993,219.999999,219.999999,219.999999,209.999993,250.000000,259.999990,250.000000,250.000000
191,PRI,Latin America & Caribbean,High income,Puerto Rico,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
195,PSE,Middle East & North Africa,Lower middle income,West Bank and Gaza,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
198,PYF,East Asia & Pacific,High income,French Polynesia,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
211,SMR,Europe & Central Asia,High income,San Marino,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
224,SXM,Latin America & Caribbean,High income,Sint Maarten (Dutch part),NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
227,TCA,Latin America & Caribbean,High income,Turks and Caicos Islands,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
236,TLS,East Asia & Pacific,Lower middle income,Timor-Leste,NaN,NaN,NaN,NaN,NaN,NaN,...,239.999995,250.000000,300.000012,460.000008,529.999971,519.999981,600.000024,610.000014,610.000014,620.000005
254,VGB,Latin America & Caribbean,High income,British Virgin Islands,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
255,VIR,Latin America & Caribbean,High income,Virgin Islands (U.S.),NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
260,XKX,Europe & Central Asia,Upper middle income,Kosovo,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
#loop through NaN df to get index 
index_list = []
for idx in nan_values.index:
    index_list.append(idx)

# print the resulting list of index values
print(index_list)

[0, 11, 27, 38, 51, 52, 69, 78, 79, 84, 91, 93, 96, 108, 145, 146, 148, 154, 163, 170, 171, 187, 191, 195, 198, 211, 224, 227, 236, 254, 255, 260]

In [14]:
#remove index column and set index to country code
clean_df = clean_df.set_index('Country Code')
clean_df

,Region,IncomeGroup,Country Name,1990,1991,1992,1993,1994,1995,1996,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
Country Code,,,,,,,,,,,,,,,,,,,,,
ABW,Latin America & Caribbean,High income,Aruba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AFE,NaN,NaN,Africa Eastern and Southern,304354.882669,298735.435602,295090.000000,303600.000000,312160.000000,327430.000000,340070.000000,...,529639.997445,521760.009862,543439.999305,565430.012964,587699.992426,574029.994987,578510.015696,587509.992346,590040.005282,603030.016154
AFG,South Asia,Low income,Afghanistan,2380.000000,2230.000000,1390.000000,1340.000000,1290.000000,1240.000000,1180.000000,...,7110.000134,8930.000305,8079.999924,5989.999771,4880.000114,5949.999809,5300.000191,4780.000210,6070.000172,6079.999924
AFW,NaN,NaN,Africa Western and Central,97925.796888,111479.470508,122740.533166,116094.991257,107217.436031,117296.844581,135518.105893,...,165489.997715,171780.000016,177939.995751,193299.997561,201680.001885,198410.002500,206030.001298,204740.000457,211719.999298,220740.000024
AGO,Sub-Saharan Africa,Lower middle income,Angola,6560.000000,6670.000000,6880.000000,9270.000000,11300.000000,12720.000000,15440.000000,...,22799.999237,23870.000839,23870.000839,26959.999084,29629.999161,31649.999619,29760.000229,24250.000000,23959.999084,25209.999084
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
XKX,Europe & Central Asia,Upper middle income,Kosovo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
YEM,Middle East & North Africa,Low income,"Yemen, Rep.",6640.000000,8500.000000,9130.000000,8550.000000,9340.000000,10530.000000,10800.000000,...,25430.000305,22950.000763,21010.000229,27829.999924,27430.000305,13550.000191,10850.000381,10010.000229,9720.000267,11100.000381
ZAF,Sub-Saharan Africa,Upper middle income,South Africa,247660.000000,242330.000000,238820.000000,246490.000000,252140.000000,264310.000000,274110.000000,...,425309.997559,409260.009766,426779.998779,436920.013428,447929.992676,424809.997559,425140.014648,435649.993896,434350.006104,439640.014648
ZMB,Sub-Saharan Africa,Low income,Zambia,2740.000000,2880.000000,2850.000000,2510.000000,2140.000000,2130.000000,1760.000000,...,2660.000086,3049.999952,4030.000210,4239.999771,4690.000057,4960.000038,5320.000172,6809.999943,7730.000019,6800.000191
ZWE,Sub-Saharan Africa,Lower middle income,Zimbabwe,16540.000000,18300.000000,18470.000000,17080.000000,15960.000000,15480.000000,14860.000000,...,9600.000381,11409.999847,12010.000229,12279.999733,12079.999924,12430.000305,11020.000458,10340.000153,12380.000114,11760.000229

In [15]:
#remove rows with NaN values
carbon_clean = clean_df.drop(clean_df.index [[0, 11, 27, 38, 51, 52, 69, 78, 79, 84, 91, 93, 96, 
                                               108, 145, 146, 148, 154, 163, 170, 171, 187, 191, 
                                               195, 198, 211, 224, 227, 236, 254, 255, 260]])
carbon_clean

,Region,IncomeGroup,Country Name,1990,1991,1992,1993,1994,1995,1996,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
Country Code,,,,,,,,,,,,,,,,,,,,,
AFE,NaN,NaN,Africa Eastern and Southern,304354.882669,298735.435602,295090.000000,303600.000000,312160.000000,327430.000000,340070.000000,...,529639.997445,521760.009862,543439.999305,565430.012964,587699.992426,574029.994987,578510.015696,587509.992346,590040.005282,603030.016154
AFG,South Asia,Low income,Afghanistan,2380.000000,2230.000000,1390.000000,1340.000000,1290.000000,1240.000000,1180.000000,...,7110.000134,8930.000305,8079.999924,5989.999771,4880.000114,5949.999809,5300.000191,4780.000210,6070.000172,6079.999924
AFW,NaN,NaN,Africa Western and Central,97925.796888,111479.470508,122740.533166,116094.991257,107217.436031,117296.844581,135518.105893,...,165489.997715,171780.000016,177939.995751,193299.997561,201680.001885,198410.002500,206030.001298,204740.000457,211719.999298,220740.000024
AGO,Sub-Saharan Africa,Lower middle income,Angola,6560.000000,6670.000000,6880.000000,9270.000000,11300.000000,12720.000000,15440.000000,...,22799.999237,23870.000839,23870.000839,26959.999084,29629.999161,31649.999619,29760.000229,24250.000000,23959.999084,25209.999084
ALB,Europe & Central Asia,Upper middle income,Albania,5980.000000,4060.000000,2220.000000,2060.000000,2070.000000,1930.000000,1940.000000,...,4449.999809,4849.999905,4360.000134,4440.000057,4820.000172,4619.999886,4480.000019,5139.999866,5110.000134,4829.999924
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
WSM,East Asia & Pacific,Lower middle income,Samoa,90.000000,100.000000,100.000000,110.000000,100.000000,120.000000,130.000000,...,189.999998,200.000003,200.000003,200.000003,209.999993,239.999995,300.000012,310.000002,289.999992,300.000012
YEM,Middle East & North Africa,Low income,"Yemen, Rep.",6640.000000,8500.000000,9130.000000,8550.000000,9340.000000,10530.000000,10800.000000,...,25430.000305,22950.000763,21010.000229,27829.999924,27430.000305,13550.000191,10850.000381,10010.000229,9720.000267,11100.000381
ZAF,Sub-Saharan Africa,Upper middle income,South Africa,247660.000000,242330.000000,238820.000000,246490.000000,252140.000000,264310.000000,274110.000000,...,425309.997559,409260.009766,426779.998779,436920.013428,447929.992676,424809.997559,425140.014648,435649.993896,434350.006104,439640.014648
ZMB,Sub-Saharan Africa,Low income,Zambia,2740.000000,2880.000000,2850.000000,2510.000000,2140.000000,2130.000000,1760.000000,...,2660.000086,3049.999952,4030.000210,4239.999771,4690.000057,4960.000038,5320.000172,6809.999943,7730.000019,6800.000191
ZWE,Sub-Saharan Africa,Lower middle income,Zimbabwe,16540.000000,18300.000000,18470.000000,17080.000000,15960.000000,15480.000000,14860.000000,...,9600.000381,11409.999847,12010.000229,12279.999733,12079.999924,12430.000305,11020.000458,10340.000153,12380.000114,11760.000229

In [16]:
#export as excel 
carbon_clean.to_excel('/Users/vickylynnmauldin/Desktop/personal-repo/global-carbon-and-methane-emissions/Data/Excel/Carbon_CleanData.xlsx', index=False)
#export as csv
carbon_clean.to_csv('/Users/vickylynnmauldin/Desktop/personal-repo/global-carbon-and-methane-emissions/Data/Excel/Carbon_CleanData.csv')

In [17]:
#drop region if needed 
carbon_clean.drop('Region', axis=1, inplace=True)
carbon_clean

,IncomeGroup,Country Name,1990,1991,1992,1993,1994,1995,1996,1997,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
Country Code,,,,,,,,,,,,,,,,,,,,,
AFE,NaN,Africa Eastern and Southern,304354.882669,298735.435602,295090.000000,303600.000000,312160.000000,327430.000000,340070.000000,356590.000000,...,529639.997445,521760.009862,543439.999305,565430.012964,587699.992426,574029.994987,578510.015696,587509.992346,590040.005282,603030.016154
AFG,Low income,Afghanistan,2380.000000,2230.000000,1390.000000,1340.000000,1290.000000,1240.000000,1180.000000,1100.000000,...,7110.000134,8930.000305,8079.999924,5989.999771,4880.000114,5949.999809,5300.000191,4780.000210,6070.000172,6079.999924
AFW,NaN,Africa Western and Central,97925.796888,111479.470508,122740.533166,116094.991257,107217.436031,117296.844581,135518.105893,135548.407326,...,165489.997715,171780.000016,177939.995751,193299.997561,201680.001885,198410.002500,206030.001298,204740.000457,211719.999298,220740.000024
AGO,Lower middle income,Angola,6560.000000,6670.000000,6880.000000,9270.000000,11300.000000,12720.000000,15440.000000,16160.000000,...,22799.999237,23870.000839,23870.000839,26959.999084,29629.999161,31649.999619,29760.000229,24250.000000,23959.999084,25209.999084
ALB,Upper middle income,Albania,5980.000000,4060.000000,2220.000000,2060.000000,2070.000000,1930.000000,1940.000000,1470.000000,...,4449.999809,4849.999905,4360.000134,4440.000057,4820.000172,4619.999886,4480.000019,5139.999866,5110.000134,4829.999924
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
WSM,Lower middle income,Samoa,90.000000,100.000000,100.000000,110.000000,100.000000,120.000000,130.000000,130.000000,...,189.999998,200.000003,200.000003,200.000003,209.999993,239.999995,300.000012,310.000002,289.999992,300.000012
YEM,Low income,"Yemen, Rep.",6640.000000,8500.000000,9130.000000,8550.000000,9340.000000,10530.000000,10800.000000,11640.000000,...,25430.000305,22950.000763,21010.000229,27829.999924,27430.000305,13550.000191,10850.000381,10010.000229,9720.000267,11100.000381
ZAF,Upper middle income,South Africa,247660.000000,242330.000000,238820.000000,246490.000000,252140.000000,264310.000000,274110.000000,289030.000000,...,425309.997559,409260.009766,426779.998779,436920.013428,447929.992676,424809.997559,425140.014648,435649.993896,434350.006104,439640.014648
ZMB,Low income,Zambia,2740.000000,2880.000000,2850.000000,2510.000000,2140.000000,2130.000000,1760.000000,2290.000000,...,2660.000086,3049.999952,4030.000210,4239.999771,4690.000057,4960.000038,5320.000172,6809.999943,7730.000019,6800.000191
ZWE,Lower middle income,Zimbabwe,16540.000000,18300.000000,18470.000000,17080.000000,15960.000000,15480.000000,14860.000000,13830.000000,...,9600.000381,11409.999847,12010.000229,12279.999733,12079.999924,12430.000305,11020.000458,10340.000153,12380.000114,11760.000229

In [18]:
#export as excel 
carbon_clean.to_excel('/Users/vickylynnmauldin/Desktop/personal-repo/global-carbon-and-methane-emissions/Data/Excel/Carbon_CleanData_noregion.xlsx', index=False)
#export as csv
carbon_clean.to_csv('/Users/vickylynnmauldin/Desktop/personal-repo/global-carbon-and-methane-emissions/Data/Excel/Carbon_CleanData_noregion.csv')