In [1]:
import pandas as pd

In [3]:
df = pd.read_excel('/Users/vickylynnmauldin/Desktop/personal-repo/global-carbon-and-methane-emissions/Data/Excel/Methane Emissions.xls', sheet_name=1)

In [13]:
df

,Country Code,Region,IncomeGroup,SpecialNotes,TableName
0,ABW,Latin America & Caribbean,High income,NaN,Aruba
1,AFE,NaN,NaN,"26 countries, stretching from the Red Sea in t...",Africa Eastern and Southern
2,AFG,South Asia,Low income,The reporting period for national accounts dat...,Afghanistan
3,AFW,NaN,NaN,"22 countries, stretching from the westernmost ...",Africa Western and Central
4,AGO,Sub-Saharan Africa,Lower middle income,The World Bank systematically assesses the app...,Angola
...,...,...,...,...,...
260,XKX,Europe & Central Asia,Upper middle income,NaN,Kosovo
261,YEM,Middle East & North Africa,Low income,The World Bank systematically assesses the app...,"Yemen, Rep."
262,ZAF,Sub-Saharan Africa,Upper middle income,Fiscal year end: March 31; reporting period fo...,South Africa
263,ZMB,Sub-Saharan Africa,Low income,National accounts data were rebased to reflect...,Zambia
264,ZWE,Sub-Saharan Africa,Lower middle income,National Accounts data are reported in Zimbabw...,Zimbabwe

In [14]:
df_2 = pd.read_excel('/Users/vickylynnmauldin/Desktop/personal-repo/global-carbon-and-methane-emissions/Data/Excel/Methane Emissions.xls', sheet_name=0, header = 3)

In [15]:
df_2

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,ABW,Methane emissions (kt of CO2 equivalent),EN.ATM.METH.KT.CE,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,Methane emissions (kt of CO2 equivalent),EN.ATM.METH.KT.CE,NaN,NaN,NaN,NaN,NaN,NaN,...,494579.996178,496859.996045,501330.001080,509910.000766,515159.996608,518240.004519,519999.998191,525299.997816,NaN,NaN
2,Afghanistan,AFG,Methane emissions (kt of CO2 equivalent),EN.ATM.METH.KT.CE,NaN,NaN,NaN,NaN,NaN,NaN,...,15630.000114,15819.999695,16299.999237,15960.000038,15829.999924,15609.999657,15909.999847,16370.000839,NaN,NaN
3,Africa Western and Central,AFW,Methane emissions (kt of CO2 equivalent),EN.ATM.METH.KT.CE,NaN,NaN,NaN,NaN,NaN,NaN,...,310789.995939,315619.999558,323400.005162,330440.002084,343199.999519,349769.998014,359360.009015,366629.998177,NaN,NaN
4,Angola,AGO,Methane emissions (kt of CO2 equivalent),EN.ATM.METH.KT.CE,NaN,NaN,NaN,NaN,NaN,NaN,...,35770.000458,35759.998322,34900.001526,37110.000610,37430.000305,37619.998932,34000.000000,35090.000153,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,Methane emissions (kt of CO2 equivalent),EN.ATM.METH.KT.CE,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262,"Yemen, Rep.",YEM,Methane emissions (kt of CO2 equivalent),EN.ATM.METH.KT.CE,NaN,NaN,NaN,NaN,NaN,NaN,...,19799.999237,22360.000610,20950.000763,12260.000229,9350.000381,10140.000343,10619.999886,10609.999657,NaN,NaN
263,South Africa,ZAF,Methane emissions (kt of CO2 equivalent),EN.ATM.METH.KT.CE,NaN,NaN,NaN,NaN,NaN,NaN,...,79209.999084,79029.998779,79919.998169,79160.003662,78739.997864,80110.000610,79839.996338,80129.997253,NaN,NaN
264,Zambia,ZMB,Methane emissions (kt of CO2 equivalent),EN.ATM.METH.KT.CE,NaN,NaN,NaN,NaN,NaN,NaN,...,15460.000038,15729.999542,15590.000153,15819.999695,15640.000343,15020.000458,15250.000000,15619.999886,NaN,NaN
265,Zimbabwe,ZWE,Methane emissions (kt of CO2 equivalent),EN.ATM.METH.KT.CE,NaN,NaN,NaN,NaN,NaN,NaN,...,12460.000038,12340.000153,11369.999886,12260.000229,11869.999886,12060.000420,12340.000153,12550.000191,NaN,NaN

In [17]:
#merge df to get incomegroup
merged_df = pd.merge(df, df_2, on='Country Code')
merged_df

,Country Code,Region,IncomeGroup,SpecialNotes,TableName,Country Name,Indicator Name,Indicator Code,1960,1961,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,ABW,Latin America & Caribbean,High income,NaN,Aruba,Aruba,Methane emissions (kt of CO2 equivalent),EN.ATM.METH.KT.CE,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AFE,NaN,NaN,"26 countries, stretching from the Red Sea in t...",Africa Eastern and Southern,Africa Eastern and Southern,Methane emissions (kt of CO2 equivalent),EN.ATM.METH.KT.CE,NaN,NaN,...,494579.996178,496859.996045,501330.001080,509910.000766,515159.996608,518240.004519,519999.998191,525299.997816,NaN,NaN
2,AFG,South Asia,Low income,The reporting period for national accounts dat...,Afghanistan,Afghanistan,Methane emissions (kt of CO2 equivalent),EN.ATM.METH.KT.CE,NaN,NaN,...,15630.000114,15819.999695,16299.999237,15960.000038,15829.999924,15609.999657,15909.999847,16370.000839,NaN,NaN
3,AFW,NaN,NaN,"22 countries, stretching from the westernmost ...",Africa Western and Central,Africa Western and Central,Methane emissions (kt of CO2 equivalent),EN.ATM.METH.KT.CE,NaN,NaN,...,310789.995939,315619.999558,323400.005162,330440.002084,343199.999519,349769.998014,359360.009015,366629.998177,NaN,NaN
4,AGO,Sub-Saharan Africa,Lower middle income,The World Bank systematically assesses the app...,Angola,Angola,Methane emissions (kt of CO2 equivalent),EN.ATM.METH.KT.CE,NaN,NaN,...,35770.000458,35759.998322,34900.001526,37110.000610,37430.000305,37619.998932,34000.000000,35090.000153,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260,XKX,Europe & Central Asia,Upper middle income,NaN,Kosovo,Kosovo,Methane emissions (kt of CO2 equivalent),EN.ATM.METH.KT.CE,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
261,YEM,Middle East & North Africa,Low income,The World Bank systematically assesses the app...,"Yemen, Rep.","Yemen, Rep.",Methane emissions (kt of CO2 equivalent),EN.ATM.METH.KT.CE,NaN,NaN,...,19799.999237,22360.000610,20950.000763,12260.000229,9350.000381,10140.000343,10619.999886,10609.999657,NaN,NaN
262,ZAF,Sub-Saharan Africa,Upper middle income,Fiscal year end: March 31; reporting period fo...,South Africa,South Africa,Methane emissions (kt of CO2 equivalent),EN.ATM.METH.KT.CE,NaN,NaN,...,79209.999084,79029.998779,79919.998169,79160.003662,78739.997864,80110.000610,79839.996338,80129.997253,NaN,NaN
263,ZMB,Sub-Saharan Africa,Low income,National accounts data were rebased to reflect...,Zambia,Zambia,Methane emissions (kt of CO2 equivalent),EN.ATM.METH.KT.CE,NaN,NaN,...,15460.000038,15729.999542,15590.000153,15819.999695,15640.000343,15020.000458,15250.000000,15619.999886,NaN,NaN
264,ZWE,Sub-Saharan Africa,Lower middle income,National Accounts data are reported in Zimbabw...,Zimbabwe,Zimbabwe,Methane emissions (kt of CO2 equivalent),EN.ATM.METH.KT.CE,NaN,NaN,...,12460.000038,12340.000153,11369.999886,12260.000229,11869.999886,12060.000420,12340.000153,12550.000191,NaN,NaN

In [25]:
#remove unneeded columns 
clean_df = merged_df.drop(['SpecialNotes','TableName','Indicator Name', 'Indicator Code','1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '2020', '2021'], axis=1)
clean_df

,Country Code,Region,IncomeGroup,Country Name,1990,1991,1992,1993,1994,1995,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,ABW,Latin America & Caribbean,High income,Aruba,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AFE,NaN,NaN,Africa Eastern and Southern,320589.996671,321170.003211,326880.001700,330319.996810,339339.997625,347470.001196,...,503890.006164,508730.002934,494579.996178,496859.996045,501330.001080,509910.000766,515159.996608,518240.004519,519999.998191,525299.997816
2,AFG,South Asia,Low income,Afghanistan,6739.999771,7019.999981,7130.000114,7210.000038,7469.999790,7829.999924,...,15199.999809,15500.000000,15630.000114,15819.999695,16299.999237,15960.000038,15829.999924,15609.999657,15909.999847,16370.000839
3,AFW,NaN,NaN,Africa Western and Central,225169.999979,244579.997182,253969.999358,259030.004174,264790.000498,263709.999636,...,300400.002398,308019.998342,310789.995939,315619.999558,323400.005162,330440.002084,343199.999519,349769.998014,359360.009015,366629.998177
4,AGO,Sub-Saharan Africa,Lower middle income,Angola,21219.999313,21489.999771,21950.000763,22579.999924,23479.999542,25229.999542,...,36900.001526,36639.999390,35770.000458,35759.998322,34900.001526,37110.000610,37430.000305,37619.998932,34000.000000,35090.000153
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260,XKX,Europe & Central Asia,Upper middle income,Kosovo,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
261,YEM,Middle East & North Africa,Low income,"Yemen, Rep.",8890.000343,8899.999619,8750.000000,10659.999847,14729.999542,14659.999847,...,23049.999237,22329.999924,19799.999237,22360.000610,20950.000763,12260.000229,9350.000381,10140.000343,10619.999886,10609.999657
262,ZAF,Sub-Saharan Africa,Upper middle income,South Africa,63189.998627,64120.002747,63750.000000,65739.997864,66739.997864,67300.003052,...,77260.002136,77260.002136,79209.999084,79029.998779,79919.998169,79160.003662,78739.997864,80110.000610,79839.996338,80129.997253
263,ZMB,Sub-Saharan Africa,Low income,Zambia,12029.999733,12189.999580,12270.000458,12180.000305,12060.000420,11979.999542,...,14409.999847,13869.999886,15460.000038,15729.999542,15590.000153,15819.999695,15640.000343,15020.000458,15250.000000,15619.999886
264,ZWE,Sub-Saharan Africa,Lower middle income,Zimbabwe,9609.999657,8720.000267,9329.999924,7800.000191,8470.000267,8869.999886,...,12270.000458,12640.000343,12460.000038,12340.000153,11369.999886,12260.000229,11869.999886,12060.000420,12340.000153,12550.000191

In [26]:
#get index of NaN rows
nan_values = clean_df[clean_df['1990'].isna()]
nan_values

,Country Code,Region,IncomeGroup,Country Name,1990,1991,1992,1993,1994,1995,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,ABW,Latin America & Caribbean,High income,Aruba,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,ASM,East Asia & Pacific,Upper middle income,American Samoa,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,BMU,North America,High income,Bermuda,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,CHI,Europe & Central Asia,High income,Channel Islands,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,CUW,Latin America & Caribbean,High income,Curacao,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,CYM,Latin America & Caribbean,High income,Cayman Islands,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,FRO,Europe & Central Asia,High income,Faroe Islands,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,GIB,Europe & Central Asia,High income,Gibraltar,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91,GRL,Europe & Central Asia,High income,Greenland,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
93,GUM,East Asia & Pacific,High income,Guam,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,HKG,East Asia & Pacific,High income,"Hong Kong SAR, China",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108,IMN,Europe & Central Asia,High income,Isle of Man,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
145,MAC,East Asia & Pacific,High income,"Macao SAR, China",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
146,MAF,Latin America & Caribbean,High income,St. Martin (French part),NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
148,MCO,Europe & Central Asia,High income,Monaco,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
163,MNP,East Asia & Pacific,High income,Northern Mariana Islands,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
171,NCL,East Asia & Pacific,High income,New Caledonia,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191,PRI,Latin America & Caribbean,High income,Puerto Rico,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
195,PSE,Middle East & North Africa,Lower middle income,West Bank and Gaza,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
198,PYF,East Asia & Pacific,High income,French Polynesia,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
211,SMR,Europe & Central Asia,High income,San Marino,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
224,SXM,Latin America & Caribbean,High income,Sint Maarten (Dutch part),NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
227,TCA,Latin America & Caribbean,High income,Turks and Caicos Islands,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
254,VGB,Latin America & Caribbean,High income,British Virgin Islands,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
255,VIR,Latin America & Caribbean,High income,Virgin Islands (U.S.),NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
260,XKX,Europe & Central Asia,Upper middle income,Kosovo,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
#remove index to delete rows with NaN data
clean_df = clean_df.set_index('Country Code')
clean_df

,Region,IncomeGroup,Country Name,1990,1991,1992,1993,1994,1995,1996,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
Country Code,,,,,,,,,,,,,,,,,,,,,
ABW,Latin America & Caribbean,High income,Aruba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AFE,NaN,NaN,Africa Eastern and Southern,320589.996671,321170.003211,326880.001700,330319.996810,339339.997625,347470.001196,351490.002086,...,503890.006164,508730.002934,494579.996178,496859.996045,501330.001080,509910.000766,515159.996608,518240.004519,519999.998191,525299.997816
AFG,South Asia,Low income,Afghanistan,6739.999771,7019.999981,7130.000114,7210.000038,7469.999790,7829.999924,8670.000076,...,15199.999809,15500.000000,15630.000114,15819.999695,16299.999237,15960.000038,15829.999924,15609.999657,15909.999847,16370.000839
AFW,NaN,NaN,Africa Western and Central,225169.999979,244579.997182,253969.999358,259030.004174,264790.000498,263709.999636,269409.994841,...,300400.002398,308019.998342,310789.995939,315619.999558,323400.005162,330440.002084,343199.999519,349769.998014,359360.009015,366629.998177
AGO,Sub-Saharan Africa,Lower middle income,Angola,21219.999313,21489.999771,21950.000763,22579.999924,23479.999542,25229.999542,25389.999390,...,36900.001526,36639.999390,35770.000458,35759.998322,34900.001526,37110.000610,37430.000305,37619.998932,34000.000000,35090.000153
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
XKX,Europe & Central Asia,Upper middle income,Kosovo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
YEM,Middle East & North Africa,Low income,"Yemen, Rep.",8890.000343,8899.999619,8750.000000,10659.999847,14729.999542,14659.999847,15029.999733,...,23049.999237,22329.999924,19799.999237,22360.000610,20950.000763,12260.000229,9350.000381,10140.000343,10619.999886,10609.999657
ZAF,Sub-Saharan Africa,Upper middle income,South Africa,63189.998627,64120.002747,63750.000000,65739.997864,66739.997864,67300.003052,66900.001526,...,77260.002136,77260.002136,79209.999084,79029.998779,79919.998169,79160.003662,78739.997864,80110.000610,79839.996338,80129.997253
ZMB,Sub-Saharan Africa,Low income,Zambia,12029.999733,12189.999580,12270.000458,12180.000305,12060.000420,11979.999542,11250.000000,...,14409.999847,13869.999886,15460.000038,15729.999542,15590.000153,15819.999695,15640.000343,15020.000458,15250.000000,15619.999886
ZWE,Sub-Saharan Africa,Lower middle income,Zimbabwe,9609.999657,8720.000267,9329.999924,7800.000191,8470.000267,8869.999886,10340.000153,...,12270.000458,12640.000343,12460.000038,12340.000153,11369.999886,12260.000229,11869.999886,12060.000420,12340.000153,12550.000191

In [28]:
methane_clean = clean_df.drop(clean_df.index [[0,11,27,38,51,52,78,84,91,93,96,108,145,146,148,163,171,
                                               191,195,198,211,224,227,254,255,260]])
methane_clean

,Region,IncomeGroup,Country Name,1990,1991,1992,1993,1994,1995,1996,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
Country Code,,,,,,,,,,,,,,,,,,,,,
AFE,NaN,NaN,Africa Eastern and Southern,320589.996671,321170.003211,326880.001700,330319.996810,339339.997625,347470.001196,351490.002086,...,503890.006164,508730.002934,494579.996178,496859.996045,501330.001080,509910.000766,515159.996608,518240.004519,519999.998191,525299.997816
AFG,South Asia,Low income,Afghanistan,6739.999771,7019.999981,7130.000114,7210.000038,7469.999790,7829.999924,8670.000076,...,15199.999809,15500.000000,15630.000114,15819.999695,16299.999237,15960.000038,15829.999924,15609.999657,15909.999847,16370.000839
AFW,NaN,NaN,Africa Western and Central,225169.999979,244579.997182,253969.999358,259030.004174,264790.000498,263709.999636,269409.994841,...,300400.002398,308019.998342,310789.995939,315619.999558,323400.005162,330440.002084,343199.999519,349769.998014,359360.009015,366629.998177
AGO,Sub-Saharan Africa,Lower middle income,Angola,21219.999313,21489.999771,21950.000763,22579.999924,23479.999542,25229.999542,25389.999390,...,36900.001526,36639.999390,35770.000458,35759.998322,34900.001526,37110.000610,37430.000305,37619.998932,34000.000000,35090.000153
ALB,Europe & Central Asia,Upper middle income,Albania,3539.999962,3500.000000,3410.000086,3490.000010,4079.999924,4079.999924,3910.000086,...,3029.999971,3019.999981,3059.999943,3059.999943,3089.999914,3109.999895,3089.999914,3049.999952,3009.999990,2849.999905
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
WSM,East Asia & Pacific,Lower middle income,Samoa,209.999993,209.999993,200.000003,209.999993,239.999995,239.999995,239.999995,...,270.000011,280.000001,280.000001,280.000001,289.999992,300.000012,310.000002,300.000012,310.000002,310.000002
YEM,Middle East & North Africa,Low income,"Yemen, Rep.",8890.000343,8899.999619,8750.000000,10659.999847,14729.999542,14659.999847,15029.999733,...,23049.999237,22329.999924,19799.999237,22360.000610,20950.000763,12260.000229,9350.000381,10140.000343,10619.999886,10609.999657
ZAF,Sub-Saharan Africa,Upper middle income,South Africa,63189.998627,64120.002747,63750.000000,65739.997864,66739.997864,67300.003052,66900.001526,...,77260.002136,77260.002136,79209.999084,79029.998779,79919.998169,79160.003662,78739.997864,80110.000610,79839.996338,80129.997253
ZMB,Sub-Saharan Africa,Low income,Zambia,12029.999733,12189.999580,12270.000458,12180.000305,12060.000420,11979.999542,11250.000000,...,14409.999847,13869.999886,15460.000038,15729.999542,15590.000153,15819.999695,15640.000343,15020.000458,15250.000000,15619.999886
ZWE,Sub-Saharan Africa,Lower middle income,Zimbabwe,9609.999657,8720.000267,9329.999924,7800.000191,8470.000267,8869.999886,10340.000153,...,12270.000458,12640.000343,12460.000038,12340.000153,11369.999886,12260.000229,11869.999886,12060.000420,12340.000153,12550.000191

In [29]:
#double check to make sure all NaN values removed
nan_values2 = methane_clean[methane_clean['1990'].isna()]
nan_values2

Empty DataFrame
Columns: [Region, IncomeGroup, Country Name, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019]
Index: []

[0 rows x 33 columns]

In [30]:
methane_clean

,Region,IncomeGroup,Country Name,1990,1991,1992,1993,1994,1995,1996,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
Country Code,,,,,,,,,,,,,,,,,,,,,
AFE,NaN,NaN,Africa Eastern and Southern,320589.996671,321170.003211,326880.001700,330319.996810,339339.997625,347470.001196,351490.002086,...,503890.006164,508730.002934,494579.996178,496859.996045,501330.001080,509910.000766,515159.996608,518240.004519,519999.998191,525299.997816
AFG,South Asia,Low income,Afghanistan,6739.999771,7019.999981,7130.000114,7210.000038,7469.999790,7829.999924,8670.000076,...,15199.999809,15500.000000,15630.000114,15819.999695,16299.999237,15960.000038,15829.999924,15609.999657,15909.999847,16370.000839
AFW,NaN,NaN,Africa Western and Central,225169.999979,244579.997182,253969.999358,259030.004174,264790.000498,263709.999636,269409.994841,...,300400.002398,308019.998342,310789.995939,315619.999558,323400.005162,330440.002084,343199.999519,349769.998014,359360.009015,366629.998177
AGO,Sub-Saharan Africa,Lower middle income,Angola,21219.999313,21489.999771,21950.000763,22579.999924,23479.999542,25229.999542,25389.999390,...,36900.001526,36639.999390,35770.000458,35759.998322,34900.001526,37110.000610,37430.000305,37619.998932,34000.000000,35090.000153
ALB,Europe & Central Asia,Upper middle income,Albania,3539.999962,3500.000000,3410.000086,3490.000010,4079.999924,4079.999924,3910.000086,...,3029.999971,3019.999981,3059.999943,3059.999943,3089.999914,3109.999895,3089.999914,3049.999952,3009.999990,2849.999905
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
WSM,East Asia & Pacific,Lower middle income,Samoa,209.999993,209.999993,200.000003,209.999993,239.999995,239.999995,239.999995,...,270.000011,280.000001,280.000001,280.000001,289.999992,300.000012,310.000002,300.000012,310.000002,310.000002
YEM,Middle East & North Africa,Low income,"Yemen, Rep.",8890.000343,8899.999619,8750.000000,10659.999847,14729.999542,14659.999847,15029.999733,...,23049.999237,22329.999924,19799.999237,22360.000610,20950.000763,12260.000229,9350.000381,10140.000343,10619.999886,10609.999657
ZAF,Sub-Saharan Africa,Upper middle income,South Africa,63189.998627,64120.002747,63750.000000,65739.997864,66739.997864,67300.003052,66900.001526,...,77260.002136,77260.002136,79209.999084,79029.998779,79919.998169,79160.003662,78739.997864,80110.000610,79839.996338,80129.997253
ZMB,Sub-Saharan Africa,Low income,Zambia,12029.999733,12189.999580,12270.000458,12180.000305,12060.000420,11979.999542,11250.000000,...,14409.999847,13869.999886,15460.000038,15729.999542,15590.000153,15819.999695,15640.000343,15020.000458,15250.000000,15619.999886
ZWE,Sub-Saharan Africa,Lower middle income,Zimbabwe,9609.999657,8720.000267,9329.999924,7800.000191,8470.000267,8869.999886,10340.000153,...,12270.000458,12640.000343,12460.000038,12340.000153,11369.999886,12260.000229,11869.999886,12060.000420,12340.000153,12550.000191

In [31]:
#export as excel 
methane_clean.to_excel('/Users/vickylynnmauldin/Desktop/personal-repo/global-carbon-and-methane-emissions/Data/Excel/Methane_CleanData.xlsx', index=False)
#export as csv
methane_clean.to_csv('/Users/vickylynnmauldin/Desktop/personal-repo/global-carbon-and-methane-emissions/Data/Excel/Methane_CleanData.csv')

In [32]:
#drop region if needed 
methane_clean.drop('Region', axis=1, inplace=True)
methane_clean

,IncomeGroup,Country Name,1990,1991,1992,1993,1994,1995,1996,1997,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
Country Code,,,,,,,,,,,,,,,,,,,,,
AFE,NaN,Africa Eastern and Southern,320589.996671,321170.003211,326880.001700,330319.996810,339339.997625,347470.001196,351490.002086,359480.005862,...,503890.006164,508730.002934,494579.996178,496859.996045,501330.001080,509910.000766,515159.996608,518240.004519,519999.998191,525299.997816
AFG,Low income,Afghanistan,6739.999771,7019.999981,7130.000114,7210.000038,7469.999790,7829.999924,8670.000076,9399.999619,...,15199.999809,15500.000000,15630.000114,15819.999695,16299.999237,15960.000038,15829.999924,15609.999657,15909.999847,16370.000839
AFW,NaN,Africa Western and Central,225169.999979,244579.997182,253969.999358,259030.004174,264790.000498,263709.999636,269409.994841,266670.002714,...,300400.002398,308019.998342,310789.995939,315619.999558,323400.005162,330440.002084,343199.999519,349769.998014,359360.009015,366629.998177
AGO,Lower middle income,Angola,21219.999313,21489.999771,21950.000763,22579.999924,23479.999542,25229.999542,25389.999390,25690.000534,...,36900.001526,36639.999390,35770.000458,35759.998322,34900.001526,37110.000610,37430.000305,37619.998932,34000.000000,35090.000153
ALB,Upper middle income,Albania,3539.999962,3500.000000,3410.000086,3490.000010,4079.999924,4079.999924,3910.000086,3700.000048,...,3029.999971,3019.999981,3059.999943,3059.999943,3089.999914,3109.999895,3089.999914,3049.999952,3009.999990,2849.999905
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
WSM,Lower middle income,Samoa,209.999993,209.999993,200.000003,209.999993,239.999995,239.999995,239.999995,239.999995,...,270.000011,280.000001,280.000001,280.000001,289.999992,300.000012,310.000002,300.000012,310.000002,310.000002
YEM,Low income,"Yemen, Rep.",8890.000343,8899.999619,8750.000000,10659.999847,14729.999542,14659.999847,15029.999733,15829.999924,...,23049.999237,22329.999924,19799.999237,22360.000610,20950.000763,12260.000229,9350.000381,10140.000343,10619.999886,10609.999657
ZAF,Upper middle income,South Africa,63189.998627,64120.002747,63750.000000,65739.997864,66739.997864,67300.003052,66900.001526,68260.002136,...,77260.002136,77260.002136,79209.999084,79029.998779,79919.998169,79160.003662,78739.997864,80110.000610,79839.996338,80129.997253
ZMB,Low income,Zambia,12029.999733,12189.999580,12270.000458,12180.000305,12060.000420,11979.999542,11250.000000,11500.000000,...,14409.999847,13869.999886,15460.000038,15729.999542,15590.000153,15819.999695,15640.000343,15020.000458,15250.000000,15619.999886
ZWE,Lower middle income,Zimbabwe,9609.999657,8720.000267,9329.999924,7800.000191,8470.000267,8869.999886,10340.000153,10449.999809,...,12270.000458,12640.000343,12460.000038,12340.000153,11369.999886,12260.000229,11869.999886,12060.000420,12340.000153,12550.000191

In [33]:
#export as excel 
methane_clean.to_excel('/Users/vickylynnmauldin/Desktop/personal-repo/global-carbon-and-methane-emissions/Data/Excel/Methane_CleanData_noregion.xlsx', index=False)
#export as csv
methane_clean.to_csv('/Users/vickylynnmauldin/Desktop/personal-repo/global-carbon-and-methane-emissions/Data/Excel/Methane_CleanData_noregion.csv')